body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(220, 217, 249) 0%,
    rgb(172, 224, 217) 89.8%
  );
}
button {
  border-radius: 8px;
  color: rgb(238, 239, 245);
  background-color: rgb(44, 111, 219);
}

h1 {
  color: rgb(22, 31, 31);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 30px;
}

h2 {
  color: rgb(1, 19, 19);
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
h3 {
  color: rgb(1, 19, 19);
  font-size: 64px;
  font-weight: 200;
  line-height: 28px;
  margin: 20px;
  padding: 10%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: rgb(26, 32, 32);
  font-size: 24px;
  font-weight: 500;
  height: 19px;
  line-height: 1px;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}

.date-time {
  color: rgb(22, 31, 31);
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.sky {
  text-transform: capitalize;
  color: rgb(22, 31, 31);
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
  margin-top: 2px;
}
.temperature .today {
  color: black;
  font-size: 25px;
  font-weight: 200;
  line-height: 15px;
  margin-right: 5px;
}
.icon canvas {
  height: 15px;
  width: 15px;
}
fahrenheit-link {
  position: relative;
  top: -48px;
  left: 20px;
  margin: 0;
  text-decoration: none;
}

.a {
  font-weight: 100;
  color: rgb(25, 0, 255);
  text-decoration: none;
  text-align: fixed;
}

.weather-app-wrapper {
  max-width: 900px;
  margin: 30px auto;
}
.weather-app {
  border: 1px solid rgb(123, 126, 126);
  padding: 20px;
  border-radius: 10px;
}
.temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
